.image-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-option {
    cursor: pointer;
}

.image-option img {
    width: 100px;
    height: auto;
}

#door {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.frame-row {
    display: flex;
}

.frame {
    border: 10px solid blue;
    margin: 1px;
}

#top {
    height: 40px;
	width: 324px;
}

#left, #right {
    height: 400px;
    width: 40px;
}

#center {
    width: 200px;
	height: 400px;
}



